<md-card>
	<md-card-content style="padding: 0;">
		<md-list style="padding: 0px;">
			<md-list-item ng-dblclick="editThis( 'informacion-personal' )" style="cursor: pointer; padding: 0px;" class="animated">
				<div layout="column" flex>
					<div id="informacion-personal-inputs" class="animate-inputs is-selected" ng-show="sections[0].editable" click-outside="closeThis( 'informacion-personal' )" layout layout-padding>
						<div layout="column" flex>
							<label>Información personal</label>
							<div layout>
								<div layout="column" flex>
									<md-input-container>
										<label>Nombre</label>
										<input type="text" ng-model="agent.name" />
									</md-input-container>
									<md-input-container>
										<label>Título univesitario</label>
										<input type="text" ng-model="agent.education" />
									</md-input-container>
									<md-input-container>
										<label>Sexo</label>
										<input type="text" ng-model="agent.sex" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido paterno</label>
										<input type="text" ng-model="agent.lastname_1" />
									</md-input-container>
									<md-input-container>
										<label>Pasatiempo</label>
										<input type="text" ng-model="agent.hobby" />
									</md-input-container>
									<md-input-container>
										<label>Univesidad</label>
										<input type="text" ng-model="agent.university" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido materno</label>
										<input type="text" ng-model="agent.lastname_2" />
									</md-input-container>
									<md-input-container>
										<label>Estado civil</label>
										<input type="text" ng-model="agent.civil_status" />
									</md-input-container>
									<md-input-container>
										<label>Fecha de nacimiento</label>
										<input type="text" ng-model="agent.birthdate" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>RFC</label>
										<input type="text" ng-model="agent.rfc" />
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
					<div class="animate-details" ng-show="!sections[0].editable" layout="column" layout-padding flex>
						<label>Información personal</label>
						<div layout layout-padding>
							<div layout flex>
								<div class="agent-photo"></div>
							</div>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Nombre</label>
									<p  class="detail-text">{{agent.name + ' ' + agent.lastname_1 + ' ' + agent.lastname_2 }}</p>
								</div>
								<md-divider></md-divider>
								<div layout="column">
									<label class="detail-label">Título universitario</label>
									<p class="detail-text">{{agent.education}}</p>
								</div>
								<div layout="column">
									<label  class="detail-label">Sexo</label>
									<p  class="detail-text">{{agent.sex}}</p>
								</div>
								<div layout="column">
									<label  class="detail-label">Pasatiempo</label>
									<p  class="detail-text">{{agent.hobby}}</p>
								</div>
							</div>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Universidad</label>
									<p  class="detail-text">{{agent.university}}</p>
								</div>
								<md-divider></md-divider>
								<div layout="column">
									<label class="detail-label">Estado civil</label>
									<p class="detail-text">{{agent.civil_status}}</p>
								</div>
								<div layout="column">
									<label  class="detail-label">Fecha de nacimiento</label>
									<p  class="detail-text">{{agent.birthdate}}</p>
								</div>
								<div layout="column">
									<label  class="detail-label">RFC</label>
									<p  class="detail-text">{{agent.rfc}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</md-list-item>
			<!-- CONTROL INTERNO -->
			<md-list-item ng-dblclick="editThis( 'control-interno' )" style="cursor: pointer; padding: 0px;" class="animated">
				<div layout="column" flex>
					<div id="control-interno-inputs" class="animate-inputs is-selected" ng-show="sections[1].editable" click-outside="closeThis( 'control-interno' )" layout layout-padding>
						<div layout="column" flex>
							<label>Control Interno</label>
							<div layout>
								<div layout="column" flex>
									<md-input-container>
										<label>Nombre</label>
										<input type="text" ng-model="agent.executive.name" />
									</md-input-container>
									<md-input-container>
										<label>Agencia</label>
										<input type="text" ng-model="agent.executive.agency" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido paterno</label>
										<input type="text" ng-model="agent.executive.lastname_1" />
									</md-input-container>
									<md-input-container>
										<label>Fuente</label>
										<input type="text" ng-model="agent.executive.source" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido materno</label>
										<input type="text" ng-model="agent.executive.lastname_2" />
									</md-input-container>
									<md-input-container>
										<label>Subfuente</label>
										<input type="text" ng-model="agent.executive.subsource" />
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
					<div class="animate-details" ng-show="!sections[1].editable" layout="column" layout-padding flex>
						<label>Control Interno</label>
						<div layout layout-padding flex>
							<div layout="column" flex>
								<label  class="detail-label">Ejecutivo</label>
								<p  class="detail-text">{{agent.executive.name + ' ' + agent.executive.lastname_1 + ' ' + agent.executive.lastname_2 }}</p>
							</div>
							<div layout="column" flex>
								<label class="detail-label">Agencia</label>
								<p class="detail-text">{{agent.executive.agency}}</p>
							</div>
							<div layout="column" flex>
								<label  class="detail-label">Fuente</label>
								<p  class="detail-text">{{agent.executive.source}}</p>
							</div>
							<div layout="column" flex>
								<label class="detail-label">Subfuente</label>
								<p class="detail-text">{{agent.executive.subsource}}</p>
							</div>
						</div>
					</div>
				</div>
			</md-list-item>
			<!-- CONYUGE -->
			<md-divider ></md-divider>
			<md-list-item ng-dblclick="editThis( 'conyuge' )" style="cursor: pointer; padding: 0px;" class="animated">
				<div layout="column" flex>
					<div id="conyuge-inputs" class="animate-inputs is-selected" ng-show="sections[2].editable" click-outside="closeThis( 'conyuge' )" layout layout-padding>
						<div layout="column" flex>
							<label>Cónyuge</label>
							<div layout>
								<div layout="column" flex>
									<md-input-container>
										<label>Nombre</label>
										<input type="text" ng-model="agent.spouse.name" />
									</md-input-container>
									<md-input-container>
										<label>Ocupación</label>
										<input type="text" ng-model="agent.spouse.education" />
									</md-input-container>
									<md-input-container>
										<label>Teléfono</label>
										<input type="text" ng-model="agent.spouse.telephone" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido paterno</label>
										<input type="text" ng-model="agent.spouse.lastname_1" />
									</md-input-container>
									<md-input-container>
										<label>Fecha de nacimiento</label>
										<input type="text" ng-model="agent.spouse.birthdate" />
									</md-input-container>
									<md-input-container>
										<label>Celular</label>
										<input type="text" ng-model="agent.spouse.mobile" />
									</md-input-container>
								</div>
								<div layout="column" flex>
									<md-input-container>
										<label>Apellido materno</label>
										<input type="text" ng-model="agent.spouse.lastname_2" />
									</md-input-container>
									<md-input-container>
										<label>Fecha de aniversario</label>
										<input type="text" ng-model="agent.spouse.anniversary_date" />
									</md-input-container>
								</div>
							</div>
						</div>
					</div>
					<div class="animate-details" ng-show="!sections[2].editable" layout="column" layout-padding flex>
						<label>Cónyuge</label>
						<div layout layout-padding>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Nombre</label>
									<p  class="detail-text">{{agent.spouse.name + ' ' + agent.spouse.lastname_1 + ' ' + agent.spouse.lastname_2 }}</p>
								</div>
								<div layout="column">
									<label class="detail-label">Teléfono</label>
									<p class="detail-text">{{agent.spouse.telephone}}</p>
								</div>
							</div>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Ocupación</label>
									<p  class="detail-text">{{agent.spouse.education}}</p>
								</div>
								<div layout="column">
									<label class="detail-label">Celular</label>
									<p class="detail-text">{{agent.spouse.mobile}}</p>
								</div>
							</div>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Fecha de nacimiento</label>
									<p  class="detail-text">{{agent.spouse.birthdate}}</p>
								</div>
							</div>
							<div layout="column" flex>
								<div layout="column">
									<label  class="detail-label">Fecha de aniversario</label>
									<p  class="detail-text">{{agent.spouse.anniversary_date}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</md-list-item>
			<md-divider></md-divider>
		</md-list>
	</md-card-content>
</md-card>
